*{
    padding: 0;
    margin: 0;
}

:root{
    --cortema: rgb(24, 80, 184);
    --neon: rgb(76, 190, 235);
    --black: black;
}

body{
    animation-name: in;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    height: 140vh;
    background-color: rgb(13, 11, 26);
    /* background-image: linear-gradient(ellipse to bottom, ,rgb(13, 11, 26) 100% ); */
}

.nav{
    position: relative;
    top: 0;
    width: 97.80%;
    background-color: white;
    right: 0;
    padding: 15px;
    z-index: 1;
    transition: 1s;
}

nav{
    display: flex;
    gap: 30px;
    width: 100%;
}

nav p{
    width: 300px;
    position: relative;
    text-align: center;
    align-content: center;
    right: -100px;
    text-decoration: none;
    color: var(--black);
    font-family: teko;
    font-size: 23px;
    transition: 0.4s;
}


#contact{
    margin-right: 200px;
}

.logotipo{
    position: relative;
    left: 30px;
    font-size: 24px;
    align-content: center;
    width: 500px;
}

.logotipo i{
    position: relative;
    top: 3px;
    margin-right: 5px;
    color: var(--cortema);
    scale: 1.2;
}

.menu{
    position: relative;
    border-top:1px solid var(--black);
    width: 99.97%;
    color: white;
    background: transparent;
    opacity: 0;
    transition: 1s;
}

.menu h1{
    position: relative;
    font-family: teko;
    font-size: 70px;
    margin-top: 80px;
    margin-left: 20px;
    margin-bottom: 30px;
    width: 850px;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
}


@keyframes menuAnim {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}


.menu p.subtitle{
    position: relative;
    font-size: 30px;
    margin-left: 30px;
    width: 800px;
    margin-bottom: 50px;
}

button.iniciar{
    position: relative;
    left: 100px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(104, 104, 104);
    color: white;
    cursor: pointer;
    transition: 0.4s;
}

button.iniciar:hover{
    background-color: var(--neon);
    box-shadow: 0px 0px 10px var(--neon);
    color: var(--black);
    scale: 110%;
}

.card{
    position: absolute;
    scale: 0.8;
    right: -30px;
    top: -60px;
    height: 340px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    padding: 30px;
    width: 500px;
    font-size: 26px;
    text-align: center;
    border-radius: 30px;
    box-shadow: -10px 10px 10px 0.1px var(--neon);
    animation-name: effectCard;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    overflow: scroll;
}

.card::-webkit-scrollbar{
    width: 0px;
}

.card h2{
    font-size: 29px;
    font-family: abel;
}

@keyframes in {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

@keyframes effectCard {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    50% {
      transform: translateY(-20px);
      opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.nav-fix{
    position: fixed;
    bottom: 20px;
    transform: translate(-50%, 0%);
    transition: 1s;
    opacity: 0;
    z-index: 1;
}

.nav-fix ul{
    position: absolute;
    left: 50vw;
    bottom: 20px;
    transform: translate(-50%, 0%);
    border: 1px solid --var(--black);
    display: flex;
    list-style-type: none;
    gap: 150px;
    text-align: center;
    align-content: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
    box-sizing: content-box;
    transition: all 2s cubic-bezier(0.25, 1, 0.5, 1);
    box-shadow: 0px 0px 15px var(--neon);

}

.nav-fix ul:hover{
    border-radius: 20px;
    animation-name: len;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

@keyframes len {
    0%{
        width: 50px;
    }
    90%{
        width:530px;
    }
    100%{
        width: auto;
        padding-right: calc(10px + 30px);

    }
}

#icon1{
    border: 1px solid --var(--black);
    padding: 2px;
    border-radius: 50%;
    background-color: rgb(14, 14, 29);
    color: white;
}

#icon2{
    border: 1px solid var(--black);
    padding: 2px;
    border-radius: 50%;
    background-color: rgb(14, 14, 29);
    color: white;
}

#icon3{
    border: 1px solid var(--black);
    padding: 2px;
    border-radius: 50%;
    background-color: rgb(14, 14, 29);
    color: white;
}


.nav-fix ul a{
    text-decoration: none;
    color: var(--black);
    opacity: 0;
    pointer-events: none;
    transition: 0.7s;
}

.nav-fix ul #icon-nav {
    left: 50%;
    bottom: 17px;
    transform: translate(-24%, 0);
    position: absolute;
    scale: 2.0;
    transition: 0.3s;
    animation-name: in-icon;
    animation-timing-function: ease-in;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
}


.nav-fix ul:hover #icon-nav{
    animation-name: out;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    pointer-events: none;
    animation-fill-mode: forwards;
}

.nav-fix ul:hover a{
    opacity: 1;
    pointer-events: all;
    margin-left: 28px;
    scale: 1.8;
    margin-top: 18px;
}

@keyframes out {
    from{
        scale: 1;
        opacity: 1;
    }
    to{
        scale: 0.5;
        opacity: 0;
    }
}

@keyframes in-icon{
    from{
        scale: 0.5;
        opacity: 0;
    }
    to{
        scale: 2;
        opacity: 1;
    }
}

.nav-fix ul a:hover{
    transform: translateY(-20px);
}

.nav-fix ul a i{
    transition: 0.6s;
}

.nav-fix ul a:hover i{
    opacity: 0;
}

.longs{
    transition: 1s;
    opacity: 1;
}

.longs .long1{
    top: 30px;
    left: 415px;
    position: absolute;
    padding: 10px;
    width: 80px;
    z-index: 1;
    display: block;
    transition: 0.3s;
    overflow: hidden;
    /* border: 1px solid black; */
    text-align: center;
    display: none;
    background-image: linear-gradient(to top, white 75%, transparent);
    animation-name: in;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    padding-top: 40px;
    border-bottom: 2px solid var(--neon);
}


.longs .long2 a{
    position: relative;
    margin-bottom: 30px;
}

.longs .long2{
    transition: 0.3s;
    top: 27px;
    left: 577px;
    position: absolute;
    padding: 10px;
    width: 101px;
    z-index: 1;
    display: none;
    background-image: linear-gradient(to top, white 75%, transparent);
    animation-name: in;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    padding-top: 40px;
    border-bottom: 2px solid var(--neon);

}

.longs .long2 ul{
    list-style-type: none;
}
.longs .long3 ul{
    list-style-type: none;
}
.longs .long4 ul{
    list-style-type: none;
}
.longs .long5 ul{
    list-style-type: none;
}

.longs .long3{
    top: 40px;
    transition: 0.3s;
    left:750px;
    position: absolute;
    padding: 10px;
    width: 110px;
    z-index: 1;
    display: none;
    background-image: linear-gradient(to top, white 75%, transparent);
    animation-name: in;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    padding-top: 40px;
    border-bottom: 2px solid var(--neon);

}
.longs .long4{
    left: 935px;
    top: 30px;
    position: absolute;
    transition: 0.3s;
    padding: 10px;
    width: 80px;
    z-index: 1;
    display: none;
    background-image: linear-gradient(to top, white 75%, transparent);
    animation-name: in;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    padding-top: 40px;
    border-bottom: 2px solid var(--neon);

}
.longs .long5{
    top: 30px;
    transition: 0.3s;
    left: 1110px;
    position: absolute;
    padding: 10px;
    width: 80px;
    z-index: 1;
    display: none;
    background-image: linear-gradient(to top, white 75%, transparent);
    animation-name: in;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    padding-top: 40px;
    border-bottom: 2px solid var(--neon);

}

.longs a{
    position: relative;
    margin: 3px;
    margin-bottom: 7px;
    text-decoration: none;
    color: var(--black);
}

.longs a:hover{
    text-decoration: underline;
}

/* 
.login{
    position: fixed;
    background-color: rgb(209, 207, 207);
    color: var(--black);
    left: 50vw;
    top: 50vh;
    width: 300px;
    padding: 30px;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    z-index: 1;
    scale: 1.1;
    animation-name: inLogin;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: 1;
    border: 2px solid var(--neon);
}

@keyframes inLogin{
    0% {
      transform: translate(-50%, 0%);
      left: 50vw;
      opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        left: 50vw;
      opacity: 1;
    }
}
    

.login h1{
    margin-bottom: 40px;
}

.login input{
    width: 100%;
    height: 30px;
    letter-spacing: 1px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--black);
    margin-bottom: 20px;
    background: transparent;
    color: var(--black);
}

.login button{
    position: relative;
    width: 100px;
    height: 30px;
    left: 103px;
    border: none;
    transition: 0.3s;
    background-color: var(--cortema);
    color: white;
}

.login button:hover{
    scale: 120%;
    background-color: var(--neon);
    border-radius: 20px;
    color: var(--black);
}

.login label{
    position: absolute;
    left: 35px;
    margin-top: 4px;
    transition: 0.4s;
    color: var(--black);
    pointer-events: none;
}

.login #label-senha{
    position: absolute;
    top: 147px;
}

.login #senha:focus ~ #label-senha{
    position: absolute;
    top: 129px;
    font-size: 13px;
    color: var(--cortema);
}
.login #email:focus ~ #label-email{
    position: absolute;
    margin-top: -15px;
    font-size: 13px;
    color: var(--cortema);
}

.login #email:valid ~ #label-email{
    position: absolute;
    margin-top: -15px;
    font-size: 13px;
    color: var(--cortema);
}

.login #senha:valid ~ #label-senha{
    position: absolute;
    top: 129px;
    font-size: 13px;
    color: var(--cortema);
} 

.login #fechar-login{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    cursor: pointer;
}


.login-btn{
    top: 50%;
    position: relative;
    width: 290px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--cortema);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

.login-btn:hover{
    background-color: rgb(14, 14, 29);
    color: white;
    scale: 110%;
} */


video{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -100;
    object-fit: cover;
    position: fixed;
    transition: 0.4s;
}

.apresentação::before{
    content: "";
    background-color: var(--neon);
    width: 130%;
    height: 30px;
    position: absolute;
    bottom: 30%;
    left: -10%;
    z-index: -1;
    box-shadow: 0px 0px 40px var(--neon);
    animation-name: menuAnim;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

    .apresentação::after{
        content: "";
        position: absolute;
        background-color: rgb(13, 11, 26);
        overflow: hidden;
        border-radius: inherit;
        inset: 5px;
        z-index: -1;
    }


.apresentação{
    left: 50%;
    transform: translate(-50%, 0%);
    position: relative;
    top: 50px;
    padding: 30px;
    border: 1px solid rgb(255, 255, 255, 0.0);
    width:85%;
    color: white;
    border-radius: 30px;
    overflow: hidden;
}

.apresentação .apresen1 h1{
    font-size: 40px;
    margin-bottom: 50px
}

.apresentação .apresen1 h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.apresentação .apresen1 p{
    font-size: 19px;
    margin-bottom: 20px;
}

.apresentação .apresen2 h1{
    font-size: 40px;
    margin-bottom: 50px
}

.apresentação .apresen2 h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.apresentação .apresen2 ul{
    font-size: 19px;
    margin-bottom: 20px;
    margin-left: 50px;
}
.apresentação .apresen3 h1{
    font-size: 40px;
    margin-bottom: 50px
}

.apresentação .apresen3 h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.apresentação .apresen3 P{
    font-size: 19px;
}

.apresentação .apresen3 ul{
    font-size: 19px;
    margin-bottom: 20px;
    margin-left: 50px;
}


.nav-fix{
    position: fixed;
    bottom: 20px;
    transform: translate(-50%, 0%);
    z-index: 1;
}

.nav-fix ul{
    position: absolute;
    left: 50vw;
    bottom: 20px;
    transform: translate(-50%, 0%);
    border: 1px solid black;
    display: flex;
    list-style-type: none;
    gap: 150px;
    text-align: center;
    align-content: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
    box-sizing: content-box;
    transition: all 2s cubic-bezier(0.25, 1, 0.5, 1);
}

    .nav-fix ul:hover{
    border-radius: 20px;
    animation-name: len;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes len {
    0%{
        width: 50px;
    }
    90%{
        width:500px;
    }
    100%{
        width: auto;
        padding-right: calc(10px + 30px);

    }
}

#icon1{
    border: 1px solid black;
    padding: 2px;
    border-radius: 50%;
    background-color: rgb(14, 14, 29);
    color: white;
}

#icon2{
    border: 1px solid black;
    padding: 2px;
    border-radius: 50%;
    background-color: rgb(14, 14, 29);
    color: white;
}

#icon3{
    border: 1px solid black;
    padding: 2px;
    border-radius: 50%;
    background-color: rgb(14, 14, 29);
    color: white;
}


.nav-fix ul a{
    text-decoration: none;
    color: black;
    opacity: 0;
    pointer-events: none;
    transition: 0.7s;
}

.nav-fix ul #icon-nav {
    left: 50%;
    bottom: 17px;
    transform: translate(-24%, 0);
    position: absolute;
    scale: 2.0;
    transition: 0.3s;
    animation-name: in-icon;
    animation-timing-function: ease-in;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
}


.nav-fix ul:hover #icon-nav{
    animation-name: out;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    pointer-events: none;
    animation-fill-mode: forwards;
}

.nav-fix ul:hover a{
    opacity: 1;
    pointer-events: all;
    margin-left: 28px;
    scale: 1.8;
    margin-top: 18px;
}

@keyframes out {
    from{
        scale: 1;
        opacity: 1;
    }
    to{
        scale: 0.5;
        opacity: 0;
    }
}

@keyframes in-icon{
    from{
        scale: 0.5;
        opacity: 0;
    }
    to{
        scale: 2;
        opacity: 1;
    }
}

.nav-fix ul a:hover{
    transform: translateY(-20px);
}

.nav-fix ul a i{
    transition: 0.6s;
}

.nav-fix ul a:hover i{
    opacity: 0;
}

@keyframes in {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
